<title>{{title}}</title>
<header>
  <h1>{{title}}</h1>
</header>

<main>
  <h1>MAIN CHANNELS LIST PAGE</h1>
  {{#if loggedIn}}
    <p><a href="/logout">Logout</a></p>
  {{else}}
    <p><a id="loginButton" href="/login">Login Here</a></p>
  {{/if}}
  {{!-- {{#unless loggedIn}}
    <p><a id="loginButton" href="/login">Login Here</a></p>
  {{/unless}} --}}

  <!-- Sorting Links -->
  <div>
    <a href="?sort=rating">Sort by Rating</a> |
    <a href="?sort=age">Sort by Age</a>
  </div>

  <form id="searchForm">
    <label for="search_term">Search Channels:</label>
    <input type="text" id="search_term" name="search_term" />
    <button type="submit">Search</button>
  </form>

  <!-- Displaying the message if any -->
  {{#if message}}
    <p style="color: red;">{{message}}</p>
  {{/if}}

  <!-- List of channels -->
  <ul id="channelList">
    {{#each channels}}
      <li>
        <a
          href="/channels/{{this._id}}"
          data-id="{{this._id}}"
        >{{this.channelTitle}}</a>
        - Rating: {{this.averageRating}}
        - Parential Guidance Age: {{this.startingAge}}

      </li>
    {{/each}}
  </ul>
</main>

<main>
  <!-- Add New Channel Form -->
  <form method="POST" id="addChannelForm">
    <p>Add new channel here:</p>
    <label for="channelTitle">Channel Title:</label>
    <input type="text" id="channelTitle" name="channelTitle" /><br />
    <label for="channelOwnerName">Channel Owner Name:</label>
    <input type="text" id="channelOwnerName" name="channelOwnerName" /><br />
    <label for="channelDescription">Channel Description:</label>
    <input type="text" id="channelDescription" name="channelDescription" /><br/>
    <label for="channelWebsite">Channel Website:</label>
    <input type="text" id="channelWebsite" name="channelWebsite" /><br />
    <label for="keywords">Keywords:</label>
    <input type="text" id="keywords" name="keywords"/><br />
    <label for="categories">Categories:</label>
    <input type="text" id="categories" name="categories" /><br />
    <label for="startingAge">Parental Guidance Age:</label>
    <input type="text" id="startingAge" name="startingAge" /><br />
    <button type="submit">Add New Channel</button>
  </form>
</main>

{{!-- <a href="/channels">Go back to main page</a> --}}

<footer>
  <p>TinyViewerTakes</p>
</footer>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script src="/public/js/clientside_validation.js"></script>