
<link rel="stylesheet" type="text/css" href="css/styles.css">

{{!-- <title>{{title}}</title>
<header>
  <h1>{{title}}</h1>
</header> --}}

<main>
  <div id="mainDiv">
    
   <div class="centered">
    <h2>MAIN CHANNELS LIST PAGE</h2>
  </div>
  <div class="right-aligned">
    {{#unless loggedIn}}
      <a id="loginButton" href="/login">Login Here</a>
    {{/unless}}
  </div >
  <div id="chnlSearchDiv">
  <form id="searchForm">
    <label id="srchHeadng" for="search_term">Search Channels</label>
    <input type="text" id="search_term" name="search_term" />
    <button id="chnlSbmtBtn" type="submit">Search</button>
  </form>
</div>
  <!-- List of channels -->
 
</main>

<main>
  <div id="chnlListForm">
   <div id="channelListDiv">
    <h2>All Channels</h2>
  <ul id="channelList">
    {{#each channels}}
      <li>
        <a id="chnlTitle"
          href="/channels/{{this._id}}"
          data-id="{{this._id}}"
        >{{this.channelTitle}}</a>

      </li>
    {{/each}}
  </ul>
  </div>
  <div id="addchnlformDiv">
  <!-- Add New Channel Form -->

  <form method="POST" id="addChannelForm">
    <h2 id="formHeader">Add New Channel Here</h2>
    <label for="channelTitle">Channel Title:</label>
    <input type="text" id="channelTitle" name="channelTitle" /><br />
    <label for="channelOwnerName">Channel Owner Name:</label>
    <input type="text" id="channelOwnerName" name="channelOwnerName" /><br />
    <label for="channelDescription">Channel Description:</label>
    <input type="text" id="channelDescription" name="channelDescription" /><br
    />
    <label for="channelWebsite">Channel Website:</label>
    <input type="text" id="channelWebsite" name="channelWebsite" /><br />
    <label for="keywords">Keyword:</label>
    <input type="text" id="keywords" name="keywords" /><br />
    <label for="categories">Category:</label>
    <input type="text" id="categories" name="categories" /><br />
    <label for="startingAge">Parental Guidance Age:</label>
    <input type="text" id="startingAge" name="startingAge" /><br />
    <button id="chnlsubmitBtn" type="submit">Add New Channel</button>
  </form>
  </div>
  </div>
</main>

<footer>
  <p>TinyViewerTakes</p>
</footer>

<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
></script>
<script src="/public/js/main.js"></script>